# Dependency directories
**/node_modules/
**/dist/
**/build/

# Environments and Secrets
**/.env
**/.env.local
**/.env.production
**/.env.development
**/*.local

# Python virtual environments & cache
**/venv/
**/.venv/
**/env/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.ipynb_checkpoints/

# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
